<%= form_with(model: draft, local: true) do |form| %>
  <% if draft.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(draft.errors.count, "error") %> prohibited this draft from being saved:</h2>

      <ul>
        <% draft.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_area :title %>
  </div>

  <div class="field">
    <%= form.label :body %>
    <%= form.text_area :body %>
  </div>

  <div class="field">
    <%= form.label :recepient %>
    <%= form.text_field :recepient %>
  </div>

  <div class="field">
    <%= form.label :copy %>
    <%= form.text_field :copy %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
